/* 모든 선택자 여백 제거 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* a 밑줄 제거 */
a {
    text-decoration: none;
    color: inherit;
}

/* li 장식 제거 */
menu,
ol,
ul {
    list-style: none;
}

/* img, video 정렬, 크기 */
img,
video {
    max-width: 100%;
    vertical-align: middle;
}

/* input, button, textarea, select => 폰트는 부모 요소에게 상속받도록 설정 */
input,
button,
textarea,
select {
    font: inherit;
}
/* input: focus 일 때 테두리 제거 */
input:focus{
    outline: none;
}

/* table 테두리 겹침 -> 하나로 처리 */
table {
    border-collapse: collapse;
}

/* .skip */
.skip-menu a {
    display: block;
    width: fit-content;
    position: absolute;
    top: -99999px;
    line-height: 50px;
    text-align: center;
    background: #0099da;
}

.skip-menu a:focus {
    top: 0;
    outline: none;
}

/* .blind */
.blind {
    position: absolute;
    top: -99999px;
}

/* 글자 기울기 해제 */
address,
i,
em {
    font-style: normal;
}

/* 버튼에 마우스 올리면 화살표 -> 클릭 포인터로 바뀌게 */
button {
    cursor: pointer;
}

/* body */
body {
    font-family: 'Pretendard', sans_serif;
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: -0.032rem;  
}